/* Hoja de estilos general para el index */

/* Fuentes desde la carpeta */

/* Configuración de las fuentes */

/* root general para el index */

:root {
  --light-background: #f2f2f2;
  --light-text: #3f3e3e;
  --light-primary: #8e61ed;
  --light-secondary: #7e5efc;
  --light-enlace-secundario: #9b64de;
  --light-hightlight: #af6ac1;

  --dark-background: #3f3e3e;
  --dark-text: #f2f2f2;
  --dark-primary: #d3778b;
  --dark-secondary: #c270a5;
  --light-enlace-secundario: #ca7497;
  --light-hightlight: #b86db3;
}

/* reglas generales * */
html{
  overflow: hidden;
}


* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* estilos generales para el body */

body {
  font-family: "Nexa", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.3rem;
}


a {
  font-family: "Comfortaa", "Roboto", sans-serif;
  text-decoration: none;
  font-size: .9rem;

}

span, p {
  font-family: "Nexa";
  font-size: 1rem;
  font-weight: 400;
}

/* paleta dark o light para el body */

body.light-theme {
  background-color: var(--light-background);
  color: var(--light-text);
}

body.dark-theme {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

/*Resto de los estilos*/
small {
  opacity: .6;
}

/*Media Queri para responsive*/
@media only screen and (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  html, body{
    overflow-x: hidden;
  }

  body {
    padding: 0rem 0rem;
    margin: 0rem 0rem;
  }

  h1{
    font-size: 2rem;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tabletas */
  h1{
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  /* Estilos para pantallas de escritorio */
}


/* Estilos para los [data]*/

[data-count] {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
