.btn {
    color: var(--dark-text);
    background-color: rgb(93, 93, 238);
    font-family: "Comforta", "Roboto", sans-serif;
    font-size: calc(16px + (16 - 14) * ((100vw - 300px) / (1600 - 300))); /* Tamaño de fuente responsivo */
    font-weight: 300;
    border: none;
    border-radius: 4rem;
    width: calc(100% - 2rem); /* Ancho responsivo, nunca superará el 100% del contenedor */
    max-width: 360px; /* Ancho máximo */
    height: calc(60px); /* Altura para pantallas grandes */
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin: 1rem 0rem;
    transition: all .2s ease-in-out !important;
}

.btn:hover {
    border: 1px solid rgb(93, 93, 238);
    background-color: var(--light-background);
    color: rgb(93, 93, 238);
    font-weight: 700;
}

.btn-light {
    background-color: var(--light-primary);
}

.btn-light:hover {
    border: 1px solid var(--light-primary);
    background-color: var(--light-background);
    color: var(--light-primary);
    font-weight: 700;
}

.btn-dark {
    background-color: var(--dark-primary);
}

.btn-dark:hover {
    border: 1px solid var(--dark-primary);
    background-color: var(--light-background);
    color: var(--dark-primary);
    font-weight: 700;
}

@media (max-width: 768px) {
    .btn {
        height: calc(50px); /* Altura para pantallas pequeñas */
    }
}
