/* Estilos generales */
.contact {
    margin: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('/assets/images/backgrounds/background_services.png');
    background-position-x: 70%;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-container-body {
    /* gap: 10%; */
    margin: 2rem 4rem;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ----------------------------------- */
.contact-title {
    position: relative;
    padding: 2rem;
}

.contact-title img {
    position: relative;
    bottom: -10px;
}

.contact-container-body-company,
.contact-container-body-contacts,
.contact-container-body-social,
.contact-container-body-polit-serv {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-items: center;
}

.contact-container-body-company-logo{
    display: flex;
    align-items: center;
}

.contact-container-body-company-logo img{
    width: 160px;
}

.contact-container-body-company-text {
    margin-top: 1rem;
}

.contact-container-body-contacts-box {
    flex-direction: column;
}
  
.contact-container-body-contacts-box img {
    margin-right: 1rem;
}

.contact-container-body-contacts-body {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0 0;
    align-items: center;
}

.contact-container-body a {
    font-size: inherit;
    /* font-family: inherit; */
    text-decoration: none;
    color: inherit;
}

.contact-email-links {
    display: flex;
    align-items: center;
}

.contact-container-body-social {
    flex-basis: 0;
}

.contact-container-body-social-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contact-container-body-polit-serv-title {
    text-align: center;
}

.contact-container-body-polit-serv-links p {
    margin-top: 1rem;
}

.contact-container-reserved {
    padding-top: 1rem;
}

.contact-container-reserved-explicit,
.contact-container-reserved-copyright {
    margin: 2rem 0 0;
}



@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* Estilos para tabletas */
    .contact-container-body {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2rem 0 2rem 0;
        gap: 2rem;
    }


    .contact-title img {
        position: relative;
        bottom: 0px;
        display: block;
        margin: auto;
    }

    .contact-container-body-company,
    .contact-container-body-contacts,
    .contact-container-body-social,
    .contact-container-body-polit-serv {
        flex-basis: 100%;
        margin: 0 10%;
    }

    .contact-container-body-contacts-body {
        justify-content: center;
    }
}

/*Media Queri para responsive*/
@media only screen and (min-width: 380px) and (max-width: 767px) {

    /* Estilos para dispositivos móviles */
    .contact-container-body {
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin: 2rem 0 2rem 0;
        gap: 2rem;
    }

    .contact-title img {
        position: relative;
        bottom: 0px;
        display: block;
        margin: auto;
    }

    .contact-container-body-company,
    .contact-container-body-contacts,
    .contact-container-body-social,
    .contact-container-body-polit-serv {
        flex-basis: 100%;
    }

    .contact-container-body-contacts-body {
        justify-content: center;
        white-space: nowrap;
    }

}


@media screen and (max-width: 379px){
    .contact{
        background-position-y: 100%;
    }

    .contact-container-body {
        /* gap: 10%; */
        margin: 2rem 0;
        display: flex;
        text-align: left;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .contact-container-body-company,
    .contact-container-body-contacts,
    .contact-container-body-social,
    .contact-container-body-polit-serv {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        align-items: center;
        text-align: center;
    }

    .contact-container-body-contacts-body {
        display: flex;
        flex-direction: row;
        margin: 1rem 0 0 0;
        align-items: center;
        justify-content: center;
    }

    .contact-container-body-contacts-box {
        justify-content: center;
    }

    .contact-container-body-contacts-box p {
        flex-basis: 50%;
    }

}