/* header{
    position: relative;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-bar-items {
  display: flex;
  align-items: center;
  margin: 1rem 1rem;
}

.list-nav {
  display: flex;
  list-style: none;
  margin: 0 1rem;
}

.nav-bar-items li {
  margin: 0 1rem;
}

/*Media Queri para responsive*/
@media only screen and (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  .navbar {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .nav-bar-items {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tabletas */

  }
