.link-light {
    color: var(--light-text);
    transition: all 0.2s ease-in-out;
}

.link-light:hover {
    color: var(--light-primary);
}

.link-dark {
    color: var(--dark-text);
    transition: all 0.2s ease-in-out;
}

.link-dark:hover {
    color: var(--dark-primary);
}
