.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

svg .svg-elem-1-load {
  stroke-dashoffset: 672.0494384765625px;
  stroke-dasharray: 672.0494384765625px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-1-load {
  stroke-dashoffset: 0;
  fill: #d3778b;
}

svg .svg-elem-2-load {
  stroke-dashoffset: 248.2165985107422px;
  stroke-dasharray: 248.2165985107422px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-2-load {
  stroke-dashoffset: 0;
  fill: #ca7497;
}

svg .svg-elem-3-load {
  stroke-dashoffset: 217.32936096191406px;
  stroke-dasharray: 217.32936096191406px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-3-load {
  stroke-dashoffset: 0;
  fill: #c270a5;
}

svg .svg-elem-4-load {
  stroke-dashoffset: 258.3150939941406px;
  stroke-dasharray: 258.3150939941406px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-4-load {
  stroke-dashoffset: 0;
  fill: #b86db3;
}

svg .svg-elem-5-load {
  stroke-dashoffset: 255.83644104003906px;
  stroke-dasharray: 255.83644104003906px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-5-load {
  stroke-dashoffset: 0;
  fill: #af6ac1;
}

svg .svg-elem-6-load {
  stroke-dashoffset: 287.29034423828125px;
  stroke-dasharray: 287.29034423828125px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-6-load {
  stroke-dashoffset: 0;
  fill: #8e61ed;
}

svg .svg-elem-7-load {
  stroke-dashoffset: 179.39129638671875px;
  stroke-dasharray: 179.39129638671875px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-7-load {
  stroke-dashoffset: 0;
  fill: #a768cd;
}

svg .svg-elem-8-load {
  stroke-dashoffset: 113.3043212890625px;
  stroke-dasharray: 113.3043212890625px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-8-load {
  stroke-dashoffset: 0;
  fill: #9b64de;
}

svg .svg-elem-9-load {
  stroke-dashoffset: 390px;
  stroke-dasharray: 390px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-9-load {
  stroke-dashoffset: 0;
  fill: #9b64de;
}

/* svg .svg-elem-9 {
  stroke-dashoffset: 248.216552734375px;
  stroke-dasharray: 248.216552734375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg.active .svg-elem-9 {
  stroke-dashoffset: 0;
  fill: #7e5efc;
} */

svg .svg-elem-10-load {
  stroke-dashoffset: 179.39132690429688px;
  stroke-dasharray: 179.39132690429688px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-10-load {
  stroke-dashoffset: 0;
  fill: #8e61ed;
}

svg .svg-elem-11-load {
  stroke-dashoffset: 255.83651733398438px;
  stroke-dasharray: 255.83651733398438px;
  fill: transparent;
  animation: strokeAnimation 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

svg.active .svg-elem-11-load {
  stroke-dashoffset: 0;
  fill: #9b64de;
}


@keyframes strokeAnimation {
  0% { stroke-dashoffset: 672.0494384765625px; fill: transparent; }
  50% { stroke-dashoffset: 0; fill: transparent; }
  100% { stroke-dashoffset: 0; }
}
