a {
    color: inherit;
}

.terms {
    margin: 1rem 15% 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.terms p{
    margin-top: 0.5rem;
}

.terms a, span{
    color: inherit;
    text-decoration: underline;
    font-size: 1.3rem;
}

.terms-title{
    margin-top: 2rem;
    font-size: 18px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 2rem 2rem 2rem;
    text-align: center;
}

.description-logo{
    margin-top: 3rem;
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tabletas */
    .hero{
        margin: 2rem;
    }
  }

/*Media Queri para responsive*/
@media only screen and (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    .terms{
        margin: 1rem 2rem;
    }

    .hero, .imagen-logo {
        margin: 2rem 0;
    }
}