.hero-blur {
    top: -5rem;
    left: 0;
    position: absolute;
    width: 35rem;
    height: 30rem;
    transform: translate(5rem, 5rem) rotate(-10deg);
    z-index: -1;
}

.hero-blu-circle-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 17rem;
    height: 17rem;
    background-color: var(--light-primary);
    border-radius: 50%;
    filter: blur(8rem);
}

.hero-blu-circle-buttom {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 17rem;
    height: 17rem;
    background-color: var(--light-primary);
    border-radius: 50%;
    filter: blur(9rem);
}

/*Media Queri para responsive*/
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .hero-blur {
        width: 20rem;
        height: 20rem;
        transform: translate(2rem, 2rem) rotate(-10deg);
    }

    .hero-blu-circle-top {
        width: 10rem;
        height: 10rem;
        filter: blur(10rem);
    }

    .hero-blu-circle-buttom {
        width: 10rem;
        height: 10rem;
        filter: blur(10rem);
    }
}

/* Estilos para tabletas */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .hero-blur {
        width: 25rem;
        height: 25rem;
        transform: translate(5rem, 5rem) rotate(-10deg);
    }

    .hero-blu-circle-top {
        width: 14rem;
        height: 14rem;
        filter: blur(10rem);
    }

    .hero-blu-circle-buttom {
        width: 14rem;
        height: 14rem;
        filter: blur(10rem);
    }
}