  svg .svg-elem-1 {
    stroke-dashoffset: 672.0494384765625px;
    stroke-dasharray: 672.0494384765625px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }
  
  svg.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-2 {
    stroke-dashoffset: 248.2165985107422px;
    stroke-dasharray: 248.2165985107422px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }
  
  svg.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-3 {
    stroke-dashoffset: 217.32936096191406px;
    stroke-dasharray: 217.32936096191406px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }
  
  svg.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-4 {
    stroke-dashoffset: 258.3150939941406px;
    stroke-dasharray: 258.3150939941406px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }
  
  svg.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-5 {
    stroke-dashoffset: 255.83644104003906px;
    stroke-dasharray: 255.83644104003906px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  }
  
  svg.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-6 {
    stroke-dashoffset: 287.29034423828125px;
    stroke-dasharray: 287.29034423828125px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  }
  
  svg.active .svg-elem-6 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-7 {
    stroke-dashoffset: 179.39129638671875px;
    stroke-dasharray: 179.39129638671875px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
  }
  
  svg.active .svg-elem-7 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-8 {
    stroke-dashoffset: 113.3043212890625px;
    stroke-dasharray: 113.3043212890625px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  }
  
  svg.active .svg-elem-8 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-9 {
    stroke-dashoffset: 390px;
    stroke-dasharray: 390px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  }
  
  svg.active .svg-elem-9 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  /* svg .svg-elem-9 {
    stroke-dashoffset: 248.216552734375px;
    stroke-dasharray: 248.216552734375px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  }
  
  svg.active .svg-elem-9 {
    stroke-dashoffset: 0;
    fill: #7e5efc;
  } */
  
  svg .svg-elem-10 {
    stroke-dashoffset: 179.39132690429688px;
    stroke-dasharray: 179.39132690429688px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
  }
  
  svg.active .svg-elem-10 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-11 {
    stroke-dashoffset: 255.83651733398438px;
    stroke-dasharray: 255.83651733398438px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
  }
  
  svg.active .svg-elem-11 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-12 {
    stroke-dashoffset: 332.2817077636719px;
    stroke-dasharray: 332.2817077636719px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s;
  }
  
  svg.active .svg-elem-12 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-13 {
    stroke-dashoffset: 408.7268981933594px;
    stroke-dasharray: 408.7268981933594px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
  }
  
  svg.active .svg-elem-13 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-14 {
    stroke-dashoffset: 485.1720886230469px;
    stroke-dasharray: 485.1720886230469px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
  }
  
  svg.active .svg-elem-14 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-15 {
    stroke-dashoffset: 561.6172790527344px;
    stroke-dasharray: 561.6172790527344px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
  }
  
  svg.active .svg-elem-15 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }
  
  svg .svg-elem-16 {
    stroke-dashoffset: 638.0624694824219px;
    stroke-dasharray: 638.0624694824219px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
  }
  
  svg.active .svg-elem-16 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-17 {
    stroke-dashoffset: 714.5076599121094px;
    stroke-dasharray: 714.5076599121094px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s;
  }
  
  svg.active .svg-elem-17 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-18 {
    stroke-dashoffset: 790.9528503417969px;
    stroke-dasharray: 790.9528503417969px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
  }
  
  svg.active .svg-elem-18 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-19 {
    stroke-dashoffset: 867.3980407714844px;
    stroke-dasharray: 867.3980407714844px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
  }
  
  svg.active .svg-elem-19 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-20 {
    stroke-dashoffset: 943.8432312011719px;
    stroke-dasharray: 943.8432312011719px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
  }
  
  svg.active .svg-elem-20 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-21 {
    stroke-dashoffset: 1020.2884216308594px;
    stroke-dasharray: 1020.2884216308594px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
  }
  
  svg.active .svg-elem-21 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-22 {
    stroke-dashoffset: 1096.7336120605469px;
    stroke-dasharray: 1096.7336120605469px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9s;
  }
  
  svg.active .svg-elem-22 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-23 {
    stroke-dashoffset: 1173.1788024902344px;
    stroke-dasharray: 1173.1788024902344px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
  }
  
  svg.active .svg-elem-23 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-24 {
    stroke-dashoffset: 1249.624008178711px;
    stroke-dasharray: 1249.624008178711px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s;
  }
  
  svg.active .svg-elem-24 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-25 {
    stroke-dashoffset: 1326.0691986083984px;
    stroke-dasharray: 1326.0691986083984px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
  }
  
  svg.active .svg-elem-25 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-26 {
    stroke-dashoffset: 1402.514389038086px;
    stroke-dasharray: 1402.514389038086px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
  }
  
  svg.active .svg-elem-26 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-27 {
    stroke-dashoffset: 1478.9595794677734px;
    stroke-dasharray: 1478.9595794677734px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4s;
  }
  
  svg.active .svg-elem-27 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-28 {
    stroke-dashoffset: 1555.40478515625px;
    stroke-dasharray: 1555.40478515625px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
  }
  
  svg.active .svg-elem-28 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-29 {
    stroke-dashoffset: 1631.8499755859375px;
    stroke-dasharray: 1631.8499755859375px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6s;
  }
  
  svg.active .svg-elem-29 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-30 {
    stroke-dashoffset: 1708.295166015625px;
    stroke-dasharray: 1708.295166015625px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s;
  }
  
  svg.active .svg-elem-30 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }

  svg .svg-elem-31 { /* Asegúrate de que el selector sea correcto para el segundo elemento */
    stroke-dashoffset: 1784.7403564453125px; /* Longitud del trazo inicial */
    stroke-dasharray: 1784.7403564453125px; /* Longitud del trazo */
    fill: transparent; /* Inicia transparente */
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s, /* Animación del trazo */
                fill 1.4s cubic-bezier(0.47, 0, 0.745, 0.715) 4s; /* Relleno inicia después del trazo */
}

svg.active .svg-elem-31 {
    stroke-dashoffset: 0; /* Comienza a dibujar el trazo */
    fill: url(#SVGID_1_); /* Aplica el gradiente del segundo elemento */
    opacity: 1; /* Asegura que sea visible */
    animation: fillAnimation1 4s forwards; /* Cambia a la animación del segundo elemento */
}

@keyframes fillAnimation1 {
    0% {
        fill: transparent; /* Comienza transparente */
        stroke-dashoffset: 1784.7403564453125px; /* Inicia en el final del trazo */
        opacity: 0; /* Comienza invisible */
    }
    95%{
        opacity: 0;
    }
    99%{
        opacity: .5;
    }
    100% {
        fill: url(#SVGID_1_); /* Termina con el gradiente */
        stroke-dashoffset: 0; /* Completa el trazo */
        opacity: 1; /* Termina visible */
    }
}

svg .svg-elem-32 { /* Asegúrate de que el selector sea correcto para el segundo elemento */
    stroke-dashoffset: 1784.7403564453125px; /* Longitud del trazo inicial */
    stroke-dasharray: 1784.7403564453125px; /* Longitud del trazo */
    fill: transparent; /* Inicia transparente */
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s, /* Animación del trazo */
                fill 1.4s cubic-bezier(0.47, 0, 0.745, 0.715) 4s; /* Relleno inicia después del trazo */
}

svg.active .svg-elem-32 {
    stroke-dashoffset: 0; /* Comienza a dibujar el trazo */
    fill: url(#SVGID_2_); /* Aplica el gradiente del segundo elemento */
    opacity: 1; /* Asegura que sea visible */
    animation: fillAnimation2 4s forwards; /* Cambia a la animación del segundo elemento */
}

@keyframes fillAnimation2 {
    0% {
        fill: transparent; /* Comienza transparente */
        stroke-dashoffset: 1784.7403564453125px; /* Inicia en el final del trazo */
        opacity: 0; /* Comienza invisible */
    }
    95%{
        opacity: 0;
    }
    99%{
        opacity: .5;
    }
    100% {
        fill: url(#SVGID_2_); /* Termina con el gradiente */
        stroke-dashoffset: 0; /* Completa el trazo */
        opacity: 1; /* Termina visible */
    }
}

  svg .svg-elem-33 {
    stroke-dashoffset: 1861.185546875px;
    stroke-dasharray: 1861.185546875px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.72s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.9s;
  }
  
  svg.active .svg-elem-33 {
    stroke-dashoffset: 0;
    fill: #FCFCFC;
  }